
/**
 * Colors
 *
 * These are colors for Color Module to override.
 * Each block should specify the corresponding CSS-file.
 */

/** sussex.css **/
  body
  {
    background-image: url(images/body-bg.png);
    background-position: top center;
    background-repeat: repeat-x;
    background-color: #e9e9e9; /* t:body-background-bottom */
    color: #454545; /* t:text */
  }

  #page
  {
    border-color: #333333; /* t:frame-outer */
  }

  #page-inner
  {
  }

  #main  {
	background-color: #f8f8f8; /* t:sidebar-background */
    border-color: #bbbbbb; /* t:frame-inner */  
  }

  #content {
	background-color: #ffffff; /* t:container-background */
    border-color: #dddddd; /* t:frame-inner */
  }


/** sidebar-left **/
  #sidebar-left
  {
  }

/** sidebar-right **/
  #sidebar-right
  {
  }

/** logo **/
  #logo-title /* Wrapper for logo, website name, and slogan */
  {
    background-image: url(images/logo-bg.png);
    background-position: top left;
    background-repeat: repeat-x;
	background-color: #ffffff; /* t:logo-bottom */
    border-bottom: 0.5em solid;
    border-color: #343a4b; /* t:logo-border */
  }

/** footer **/
  #footer
  {
    background-image: url(images/footer-bg.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    border-top: 0.5em solid;
    border-color: #343a4b; /* t:footer-border */
  }

  #footer,
  #footer a
  {
    color: #ffffff; /* t:footer-text */
  }

/** html-elements.css */
/** links **/
  /* The order of link states are based on Eric Meyer's article:
   * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
   */
  a:link,
  a:visited,
  a:hover,
  a:focus
  {
    color: #1e2a4d; /* t:link */
  }

/** Nice Menus */
  ul.nice-menu {
    background-image: url(images/menu-bg.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    background-color: #343a4b; /* t:menu-background */
  }

  ul.nice-menu li ul
  {
    background: url(images/submenu-bg.png);
    background-repeat: repeat;
    background-color: #343a4b; /* t:submenu-background */
    border-color: #373f4d; /* t:submenu-frame */
  }

  ul.nice-menu li,
  ul.nice-menu li.menuparent,
  ul.nice-menu li li,
  ul.nice-menu li li.menuparent
  {
    background: none;
  }

  ul.nice-menu a:link,
  ul.nice-menu a:visited
  {
    text-decoration: none;
    color: #ffffff; /* t:menu-text */
  }

  ul.nice-menu a:hover
  {
    background-image: url(images/menu-hover.png);
    background-repeat: repeat;
    background-color: #ffffff; /* t:menu-hover */
    color: #000000; /* t:menu-hover-text */
  }

  ul.nice-menu li ul li a:link,
  ul.nice-menu li ul li a:visited
  {
    text-decoration: none;
    color: #ffffff; /* t:submenu-text */
  }

  ul.nice-menu li ul li a:hover,
  ul.nice-menu li ul li a:active,
  ul.nice-menu li ul li a.active
  {
    background-image: url(images/submenu-hover.png);
    background-repeat: repeat;
    background-color: #ffffff; /* t:submenu-hover */
    color: #000000; /* t:submenu-hover-text */
  }

/** End of Nice Menus */
