
@import url('sussex.css');
@import url('html-elements.css');

body {
	background-image: none;
	background-color: white; /* Force white background */
	font-size: 75%; /* Offset to compensate for layout divs font down scaling */
}
