
/*
 * LAYOUT STYLES
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Border Politics Layout Method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/** body **/
  body
  {
    margin: 0;
    padding: 0;
  }

  #page,
  #closure-blocks
  {
    /*
     * If you want to make the page a fixed width and centered in the viewport,
     * this is the standards-compliant way to do that. See also the ie.css file
     * for the necessary IE5 hack to center a div.
     */
    margin-left: auto;
    margin-right: auto;
    width: 66em;
  }

  .two-sidebars #page,
  .two-sidebars #closure-block
  {
	width: 83em;
  }

  #page-inner
  {
  }

  #navigation-top,
  #navigation
  {
    position: absolute; /* Take the named anchors out of the doc flow    */
    left: -10000px;     /* and prevent any anchor styles from appearing. */
  }

  #skip-to-nav
  {
	display: none;
    float: right;
    margin: 0 !important;
    font-size: 0.8em;
  }

  #skip-to-nav a:link, #skip-to-nav a:visited
  {
    color: #fff; /* Same as background color of page */
  }

  #skip-to-nav a:hover
  {
    color: #000;
    text-decoration: none;
  }

  /* Alternatively, the skip-to-nav link can be completely hidden until a user tabs
     to the link. Un-comment the following CSS to use this technique. */
  /*
  #skip-to-nav a, #skip-to-nav a:hover, #skip-to-nav a:visited
  {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  #skip-to-nav a:active, #skip-to-nav a:focus
  {
    position: static;
    width: auto;
    height: auto;
  }
  */

/** header **/
  #header
  {
  }

  #header-inner
  {
  }

  #logo-title
  {
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: hidden;
  }

  #logo
  {
  }

  h1#site-name, div#site-name
  {
    margin: 0;
    font-size: 2em;
    line-height: 1.3em;
  }

  #site-slogan
  {
  }

  #header-blocks
  {
    clear: both; /* Clear the logo */
    line-height: 0;
  }

  #header-blocks .block
  {
	margin: 0;
  }

  #header-blocks .block .content p {
    overflow: hidden;
  }

/* This setting makes sure that the content in the header-blocks don't
   leave */
/*  #header-blocks .block .content *
  {
	margin: 0;
	display: block;
  }*/

/** main (container for everything else) **/
  #main
  {
    position: relative;
  }

  #main-inner
  {
  }

/** content **/
  #content,
  .two-sidebars #content
  {
    float: left;
    width: 49em;
    margin-left: 17em; /* The width of #sidebar-left */
    margin-right: -66em; /* Negative value of #content's width + left margin. */
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
    min-height: 25em;
    _height: 25em;
  }

  .sidebar-left #content
  {
    width: 49em;
    margin-left: 16.917em; /* The width of #sidebar-left - border-left-width: 0.0833em of content-inner. */
    margin-right: -66em; /* Negative value of #content's width + left margin. */
  }

  .sidebar-right #content
  {
    width: 49em;
    margin-left: 0;
    margin-right: -49em; /* Negative value of #content's width + left margin. */
  }

  .no-sidebars #content
  {
    width: 66em;
    margin-left: 0;
    margin-right: -66em; /* Negative value of #content's width + left margin. */
  }

  #content-inner
  {
    margin: 0;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
  }

/** navbar **/
  #navbar
  {
    position: absolute;
    top: 0;
    left: 6;
    width: 66em;
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #navbar-inner. */
    height: 2em; /* The navbar can have any arbritrary height. We picked one
                      that is twice the line-height pluse 1em: 2 x 1.3 + 1 = 3.6
                      Set this to the same value as the margin-top below. */
    z-index: 500; /* Fix for IE --- Sam of Okkam */
  }

  .two-sidebars #navbar {
    width: 83em;
  }

  .with-navbar #content,
  .with-navbar #sidebar-left,
  .with-navbar #sidebar-right
  {
    margin-top: 2em; /* Set this to the same value as the navbar height above.
                         and consider borders (--- danial) */
  }

  #navbar-inner
  {
  }

  #navbar-inner .block
  {
	margin: 0;
	padding: 0;
  }

  #search-box
  {
    width: 17em;
    margin-right: -17em; /* Negative value of #search-box's width. */
    float: left;
  }

  #primary
  {
    margin-left: 17em; /* Width of search-box */
  }

  #secondary
  {
    margin-left: 17em; /* Width of search-box */
  }

/** sidebar-left **/
  #sidebar-left
  {
    float: left;
    width: 17em;
    margin-left: 0;
    margin-right: -17em; /* Negative value of #sidebar-left's width + left margin. */
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
  }

  #sidebar-left-inner
  {
    margin: 0;
  }

/** sidebar-right **/
  #sidebar-right
  {
    float: left;
    width: 17em;
    margin-left: 49em; /* Width of content */
    margin-right: -66em; /* Negative value of #sidebar-right's width + left margin. */
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-right-inner. */
  }

  .two-sidebars #sidebar-right
  {
    margin-left: 66em; /* Width of content + sidebar-left. */
    margin-right: -83em; /* Negative value of #sidebar-right's width + left margin. */
  }


  #sidebar-right-inner
  {
    margin: 0;
    padding: 0;
  }

/** footer **/
  #footer
  {
  }

  #footer-inner
  {
    padding-top: 0.5em;
  }

/** closure **/
  #closure-blocks /* See also the #page declaration above that this div shares. */
  {
	position: relative;
	top: 5px;
  }

/** Prevent overflowing content **/
  #header,
  #content,
  #navbar,
  #sidebar-left,
  #sidebar-right,
  #footer,
  #closure-blocks,
  {
    overflow: visible;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  #navbar
  {
    /* overflow: hidden; May need to be removed if using a dynamic drop-down menu */
  }
